<!DOCTYPE html>
<html>
<head>
    <title>Mushroom identifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div id="loading" class="overlay">
        <div class="loader"></div>
    </div>  
    <div class="header">
        <div class="upload">
            {% if current_user.is_authenticated %}
                <div class="padding-container">
                    <h1>Upload your mushroom</h1>
                    <form id="upload-form" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" id="file-input" style="display: none;">
                        <label for="file-input" class="file-input-label">Select File</label>
                        <span id="file-name">No image selected</span>
                        <input type="submit" value="Upload">
                    </form>
                </div>
            {% elif not request.path == url_for('upload_file') %}
                <div class="padding-container">
                    <a class="navigation-button" href="{{ url_for('upload_file') }}">Go back to home page</a>
                </div>
            {% endif %}
        </div>          
        <div class="authentication">
            {% if current_user.is_authenticated %}
                <p class="welcome">Welcome, {{ current_user.username }}!</p>
                <div class="button-auth-group">
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
              <div class="button-auth-group">
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('login') }}">Login</a>
              </div>
            {% endif %}
        </div>
    </div>
    <div class="title">Mushroom identifier</div>
    {% block content %}
    {% endblock content %}
</body>
<script>
    $(document).ready(function(){
        $('#upload-form').on('submit', function(event){
            event.preventDefault();
            var formData = new FormData(this);
            $('#loading').show();
            $.ajax({
                url: '/',
                data: formData,
                type: 'POST',
                contentType: false,
                processData: false,
                success: function(response){
                    $('#loading').hide();
                    if (response.redirect) {
                        window.location.href = response.redirect;
                    }
                },
                error: function(response){
                    $('#loading').hide();
                }
            });
        });
        $('#login-form').on('submit', function(event){
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/login',
                data: formData,
                type: 'POST',
                success: function(response){
                    if (response.redirect) {
                        window.location.href = response.redirect;
                    } else if (response.error) {
                        alert(response.error);
                    }
                },
                error: function(response){
                    if (response.responseJSON.error) {
                        alert(response.responseJSON.error);
                    } else {
                        alert("Unexpected login error");
                    }
                }
            });
        });
        $('#register-form').on('submit', function(event){
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: '/register',
                data: formData,
                type: 'POST',
                success: function(response){
                    if (response.redirect) {
                        window.location.href = response.redirect;
                    } else if (response.error) {
                        alert(response.error);
                    }
                },
                error: function(response){
                    if (response.responseJSON.error) {
                        alert(response.responseJSON.error);
                    } else {
                        alert("Unexpected register error");
                    }
                }
            });
        });
        $('#file-input').on('change', function() {
            var fileName = $(this).val().split('\\').pop(); // Pobierz nazwę pliku bez ścieżki
            $('#file-name').text(fileName); // Ustaw nazwę pliku w elemencie file-name
        });
    });
</script>
</html>
