{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mushroom_detail.css') }}">
{% endblock head %}
{% block content %}
    <div class="center">
        <div class="mushroom-detail">
            <h1>Author: {{ user.username }}</h1>
            <h2>Predicted species: {{mushroom.species.replace('_', ' ').capitalize() }}</h2>
            <h2>Prediction chance: {{ mushroom.odds|round(2) }}%</h2>
            <img src="{{ url_for('static', filename=mushroom.image_path) }}">

            {% for comment in mushroom.comments %}
                <p>
                    {{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}
                    <strong>{{ comment.user.username }}</strong>: 
                    {{ comment.text }}
                </p>
            {% endfor %}
            {% if current_user.is_authenticated %}
                <form method="post">
                    <textarea name="text" placeholder="Your comment"></textarea>
                    <button type="submit">Post comment</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
