<!DOCTYPE html>
<html>
<body>
    <a href="{{ url_for('upload_file') }}">Go back to homepage</a>
    <h1>Author: {{ user.username }}</h1>
    <h2>Predicted species: {{ mushroom.species }}</h2>
    <h2>Prediction odds: {{ mushroom.odds|round(2) }} %</h2>
    <img src="{{ url_for('static', filename=mushroom.image_path) }}" style="width: 600px; height: auto;">
    {% for comment in mushroom.comments %}
        <p><strong>{{ comment.user.username }}</strong>: {{ comment.text }}</p>
    {% endfor %}
    {% if current_user.is_authenticated %}
        <form method="post">
            <textarea name="text" placeholder="Your comment"></textarea>
            <button type="submit">Post comment</button>
        </form>
    {% endif %}
</body>
</html>
