{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forms.css') }}">
{% endblock head %}
{% block content %}
    <div class="center-form">
        <form id="register-form" class="form" method="POST">
            {{ form.hidden_tag() }}
        <div>
            {{ form.username.label(class="form-label") }} {{ form.username(class="form-input") }}
        </div>
        <div>
            {{ form.password.label(class="form-label") }} {{ form.password(class="form-input") }}
        </div>
            {{ form.submit(class="form-button") }}
        </form>
    </div>
{% endblock content %}
