.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.form {
    width: 20vw;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.form-label {
    font-weight: bold;
}

.form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #01cc2d;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-button:hover {
    background-color: #03643c;
}